form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center; 
  width: 250px; 
  margin: 30vh auto; 
  padding: 25px; 
  border: 2px solid #8f8f8f;
  box-shadow: 0 0 5px 3px #9f9f9f9d;
  background-color: rgb(233, 228, 228);
}

form input {
  line-height: 1.8;
}

form button {
  margin: auto;
  padding: 5px 20px;
  background-color: rgb(126, 172, 209);
}

form button:hover {
  background-color: rgb(184, 177, 177);
}